<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Content</title>
</head>
<body>

    <ul th:each="content: ${content}">
        <!--<li th:text="${post.getContent()}">-->
        <li th:text="${'The ID is : ' + content.getId()+ ' ' + 'and the content is : ' + content.getContent() + '.'}">
        </li>
    </ul>

    <form action="/content" th:object="${newContent}" method="post">
        <input type="text" th:field="*{content}" placeholder="Add comments">
        <input type="submit" value="Submit">
    </form>

</body>
</html>